<div class="row">
    <div class="col s8 offset-s2">
        <div class="card">
            <div class="sm-jumbotron center-align header">
                <h2>User Registration</h2>
            </div>
            <form class="col s12" #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)">
                <div class="row">
                    <div class="input-field col s6">
                        <input class="validate" type="text" name="UserName" #UserName="ngModel"
                            [(ngModel)]="user.username" required minlength="6">
                        <label
                            [attr.data-error]="UserName.errors!=null?(UserName.errors.required?'Required field!':'Minimum 6 characters needed'):''">Username</label>
                    </div>
                    <div class="input-field col s6">
                        <input class="validate" type="email" name="email" #Email="ngModel" [(ngModel)]="user.email" required>
                        <label data-error="Please enter a valid email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input class="validate" [type]="hide ? 'password' : 'text'" name="Password" #Password="ngModel"
                            [(ngModel)]="user.password" required minlength="6">
                        <label
                            [attr.data-error]="Password.errors!=null?(Password.errors.required?'Required field!':'Minimum 6 characters needed'):''">Password</label>
                        <img src="../../../assets/Icons/eye.png" (click)="hide = !hide">
                    </div>
                    <div class="input-field col s6">
                        <input class="validate" type="tel" name="tel" #PhoneNumber="ngModel" [(ngModel)]="user.phoneNumber" required>
                        <label data-error="Please enter a valid phone number">Phone number</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button [disabled]="!userRegistrationForm.valid" class="btn-large btn-submit" type="submit">Sign
                            up</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>