/*#region -_-_-_-_ELEMENTS-_-_-_-_*/
h2{
    font: 500 25px/30px Roboto, "Helvetica Neue", sans-serif !important;
    color: white;
    margin: 1em;
}
/*#endregion*/

/*#region -_-_-_-CLASSES-_-_-_-_*/
.btn-large{
    background-color: darkorange;
    width: 100%;
}

.row .col{
    min-height: auto !important;
    margin: 0 !important;
    padding-top: 1.5em;
}

.header{
    background-color: darkorange;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label
{
    color: darkorange !important;
    border-bottom: darkorange !important;
    box-shadow: 0 1px 0 0 darkorange !important;
}

.btn-large:hover{
    background-color: tomato;
}
/*#endregion*/