<div class="mainContainer">
    <div class="basicInfoContainer">
        <div class="container">
            <div class="col">
                <h3 class="basicInfo">Username: {{user.userName}}</h3>
                <h3 class="basicInfo">Phone number: {{user.phoneNumber}}</h3>
                <h3 class="basicInfo">Address: {{customer.addressInfoes[0]?.street +' '+ customer.addressInfoes[0]?.apartment|json}} </h3>
                <h3 class="basicInfo">Total amount spent: {{totalAmountSpent|currency}} </h3>
            </div>
        </div>
        <div class="btnCntnr">
            <change-password-modal [username]="username" [phonenumber]="phonenumber"></change-password-modal>
            <button class="btn btn-warning menuBtn" (click)=goToMenu()>Go to menu</button>
            <button class="btn btn-warning menuBtn" (click)=logOut()>Log out</button>
        </div>
    </div>
    
    <div class="historyContent">
        <h1>Your orders history</h1>
        <table class="orderTable">
            <thead>
                <tr>
                    <th>Order date</th>
                    <th>Order details</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of orderDetails; let i = index">
                    <td>
                        {{order.requestedTime|date}}
                    </td>
                    <td>
                        <table class="detailsTable">
                            <thead>
                                <tr>
                                    <th class="cell">Dish name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let od of orders[i]?.orderDetails; let j = index">
                                    <td>{{dishes[order?.orderId][j]?.dishName}}</td>
                                    <td>{{od?.price}}</td>
                                    <td>{{od?.quantity}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>