<navigation></navigation>
<div class="mainContainer">
    <div *ngIf="!cartIsEmpty">
        <table class="table cartTable">
            <thead class="thead-dark cartTableHead">
                <tr>
                    <th scope="col">Picture</th>
                    <th scope="col">Dish name</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Price</th>
                    <th scope="col">Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="cartTableBody">
                <tr *ngFor="let dish of dishesFromLocalStorage">
                    <td><img class="image" src="../../assets/Dishes/{{dish.dish.dishName}}.jpg" /></td>
                    <td>
                        {{dish.dish.dishName|split}}
                        <h4>{{dish.dish.comments}}</h4>
                    </td>
                    <td>
                        <input type="number" min="1" matInput [(ngModel)]="dish.dish.quantity" (click)="refreshPrice(dish)" class="form-control">
                    </td>
                    <td>{{dish.dish.price|currency}}</td>
                    <td>{{dish.dish.price * dish.dish.quantity |currency}}</td>
                    <td>
                        <div (click)="deleteDish(dish)" class="btn cancelButton" alt="delete" title="Delete this dish">Delete</div>
                        <img src="./../../assets/Icons/cancel.png" class="btn cancelIcon">
                    </td>
                </tr>
            </tbody>
            
        </table>
        <div class="totals">
            <div class="totals-item">
                <label>Subtotal</label>
                <div class="totals-value" id="cart-subtotal">{{subtotal|currency}}</div>
            </div>
            <div class="totals-item">
                <label>Tax (6.625%)</label>
                <div class="totals-value" id="cart-tax">{{tax|currency}}</div>
            </div>
            <div class="totals-item totals-item-total">
                <label>Grand Total</label>
                <div class="totals-value" id="cart-total">{{total|currency}}</div>
            </div>
        </div>
        <checkout-modal [dishesFromLocalStorage]="dishesFromLocalStorage" [(cartIsEmpty)]="cartIsEmpty"></checkout-modal>
        <button class="btn cartButton" (click)="emptyCart()">Clear all</button>
    </div>
    <div *ngIf="cartIsEmpty">
        <h1>Sorry, but you didn't add anything to your cart...</h1>
    </div>
</div>