/*#region -_-_-_-_ELEMENTS-_-_-_-_*/
div {
    font-size: 20px !important;
    font-weight: bold;
    color: black !important;
}

tbody>tr {
    transition: 0.4s;
    align-content: center;
}

tr{
    margin:3em;
}

td{
    z-index: 99999;
    vertical-align: middle;
}

h1 {
    margin-top: 5em;
    color: tomato;
    font-size: 35px;
    font-weight: bold;
    text-shadow: 2px 2px darkred;
}
h4{
    margin-top: 1px;
}
/*#endregion*/


/*#region -_-_-_-_CLASSES-_-_-_-_*/
.form-control{
    max-width: 30em;
}
.image {
    height: 5em;
    width: 6em;
}

.cartTable {
    max-width: 80%;
    background-color: #d5cbb9cc;
    border-radius: 20px;
}

.cartTableHead {
    background-color: darkorange;
}

.cartTableBody {
    font-size: 20px !important;
    font-weight: bold;
    color: black !important;
}

.totals {
    float: right;
    width: 100%;
}

.totals-item {
    position: sticky;
    margin: 1em;
    display: inline-block;
}

.cartButton{
    right: 1em;
    font-size: 16px;
    font-weight: bold;
    background: transparent;
    border: solid 2px darkorange;
    border-radius: 5px;
    width: 10em;
    height: 3em;
    margin: 0 1em 1em auto;
    color: black;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.cancelButton{
    background-color: transparent;
    width: 85px;
    height: 45px;
    font-size: 20px !important;
    color: orangered !important;
    transform: translate(0px, -50px);
    opacity: 0;
    transition: 0.5s;
}

.cancelIcon{
    display: none;
    background-color: orangered;
    width: 40px;
    height: 40px;
}
/*#endregion*/

/*#region -_-_-_-_Animations-_-_-_-_*/
tbody>tr:hover {
    background-color: #dab166cc;
    transform: scale(1.02);
}

tr:hover .cancelButton{
    animation: slideDown 0.4s 0s ease-in forwards;
}

.cartButton:hover {
    background-color: tomato;
    border-color: tomato;
}

.cancelButton:hover{
    font-size: 22px !important;
}
/*#endregion*/

/*#region -_-_-_-_Media Queries-_-_-_-_*/
@media(max-width: 800px){
    .cancelButton{
        transform: translateY(0px);
        opacity: 1;
        display: none;
    }
    .cancelIcon{
        display: block;
    }
    tr:hover .cancelButton{
        animation: none;
    }
    td:nth-of-type(5){
        display: none;
    }
    th:nth-of-type(5){
        display: none;
    }
}
/*#endregion*/

@keyframes slideDown{
    0%{
        transform: translateY(-50px);
        opacity: 0;
    }
    60%{
        transform: translateY(0px);
        opacity: 0.1;

    }
    80%{
        transform: translateY(15px);
        opacity: 1;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}