<div class="iconsContainer">
    <a class="iconContainer" href="/">
        <img class="icon" src="../../assets/Icons/back.png" alt="Back" />
        <h6>Back</h6>
    </a>
    <a class="iconContainer" href="/account" *ngIf="isLoggedIn()">
        <img class="icon" src="../../assets/Icons/user.png" alt="Cart" />
        <h6>My account</h6>
    </a>
    <a class="iconContainer" href="/">
        <img class="icon" src="../../assets/Icons/home.png" alt="Home" />
        <h6>Home</h6>
    </a>
    <a class="iconContainer" href="/shoppingcart">
        <img class="icon" src="../../assets/Icons/cart.png" alt="Cart" />
        <h6>Cart</h6>
        <div class="badge">{{(dishesInTheCart).length}}</div>
    </a>
</div>