<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Customize item</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>  
        <!--TODO: create templates according to the dishtype-->
        <div class="form-group" *ngIf="category.description=='DinnerEntrees'">
          <mat-form-field>
            <mat-label>Choice of a side</mat-label>
            <mat-select [(value)]="selected">
              <mat-option *ngFor="let dish of category.dishes">{{dish.description}}</mat-option>
            </mat-select>
          </mat-form-field>

          <label for="dateOfBirth">Ingredients</label>
          <div class="input-group">
            <input type="checkbox">
          </div>
        </div>
        <div class="form-group">
          <label for="additionalNotes">Additional notes</label>
          <div class="input-group">
            <textarea id="additionalNotes" class="form-control"></textarea>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="addToCart(dish)">Add to cart</button>
    </div>
  </ng-template>
  
  <div class="btn insideImageButton iWantThisButton" (click)="open(content)">I want this!</div>