<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Customize item</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <mat-form-field *ngIf="sides.length > 0" class="select">
      <mat-label>
        Choice of a
        <p *ngIf="category.description=='DinnerEntrees'">side</p>
        <p *ngIf="category.description=='Wraps'">tortilla</p>
      </mat-label>
      <mat-select [formControl]="sideControl" required [(ngModel)]="chosenSide">
        <mat-option *ngFor="let side of sides" [value]="side">
          {{side.description|split}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="sideControl.hasError('required')">Please choose an option</mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="options.length > 0" class="select">
      <mat-label>Options</mat-label>
      <mat-select [formControl]="sideControl" required [(ngModel)]="chosenOption">
        <mat-option *ngFor="let option of options" [value]="option">
          {{option.description|split}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="sideControl.hasError('required')">Please choose an option</mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="sizes.length > 0" class="select">
      <mat-label>Sizes</mat-label>
      <mat-select required [(ngModel)]="chosenSize">
        <mat-option *ngFor="let size of sizes" [value]="size">
          {{size.description|split}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="sideControl.hasError('required')">Please choose a size</mat-error>
    </mat-form-field>

    <div class="form-group">
      <label>Ingredients:</label>&nbsp;
      <mat-checkbox *ngFor="let dishIngredient of dishIngredients" checked="true"
        (click)="toggleIngredient(dishIngredient.description)">
        {{dishIngredient.description|split}}&nbsp;
      </mat-checkbox>
      <div>
        <label>Additional price:</label>&nbsp;
        {{additionalPrice|currency}}
      </div>
    </div>

    <div class="form-group">
      <mat-label>Modifiers:</mat-label>&nbsp;
      <mat-checkbox *ngFor="let ingredient of allIngredients; let i = index"
        (click)="toggleIngredient(ingredient.description)">
        {{ingredient.description|split}}&nbsp;
      </mat-checkbox>
    </div>

    <div class="form-group">
      <mat-label>Quantity</mat-label>&nbsp;
      <input type="number" matInput [formControl]="sideControl" min="1" [(ngModel)]="dish.quantity">
      <mat-error *ngIf="sideControl.hasError('required')">Please enter quantity</mat-error>
    </div>

    <div class="form-group">
      <mat-label for="additionalNotes">Additional notes</mat-label>
      <div class="input-group">
        <textarea id="additionalNotes" class="form-control" name="message" rows="8"
          [(ngModel)]="dish.comments"></textarea>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="addToCart(dish)">Add to cart</button>
  </div>

</ng-template>

<div class="btn insideImageButton iWantThisButton" (click)="open(content)">I want this!</div>