<ng-template let-modal #items>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Manage items</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ingredient of ingredients; let i = index">
                        <td>{{ingredient.description|split}}</td>
                        <td>{{ingredient.price}}</td>
                        <td>
                            <item-modal [item]="ingredient"></item-modal>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" (click)="save()">Save</button>
    </div>
    {{dishes}}
</ng-template>

<ng-template let-modal #dishes>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Manage dishes</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <h4><b>NOTE:</b> Uncheck a dish if you don't want it to appear in the menu</h4><br>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Active</th>
                        <th>Name</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let dish of allDishes; let i = index">
                        <td>
                            <div class="checkbox-container">
                                <label class="checkbox-label">
                                    <input type="checkbox" id="myCheckBox" (click)="toggleDish(dish)"
                                        [(ngModel)]="dish.active">
                                    <span class="checkbox-custom rectangular"></span>
                                </label>
                            </div>
                        </td>
                        <td>{{dish.dishName|split}}</td>
                        <td>{{dish.price}}</td>
                        <td>
                            <dish-modal [dish]="dish"></dish-modal>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" (click)="save()">Save</button>
    </div>
</ng-template>

<div class="btn btn-info categoryButton" (click)="open(dishes, 'dishes')">Dishes</div>

<div class="btn btn-info categoryButton" (click)="open(items, 'items')">Ingredients</div>

<div class="btn btn-info categoryButton" (click)="open(sides, 'sides')">Sides</div>