<ng-template #content let-modal>
    <div class="modal-header">
        <h2 class="modal-title" id="modal-basic-title">Manage account info</h2>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <mat-form-field>
            <mat-label>Select what to change</mat-label>
            <mat-select [formControl]="manageOptionsControl" required [(ngModel)]="chosenOption"
                (selectionChange)="onOptionChange()">
                <mat-option *ngFor="let option of manageOptions" [value]="option">
                    {{option}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="manageOptionsControl.hasError('required')&&manageOptionsControl.touched">Please choose
                what you would like to change</mat-error>
        </mat-form-field>

        <div class="form-group" *ngIf="manageOptionsControl.dirty&&chosenOption=='Change password'">
            <mat-label for="oldPassword">Old password</mat-label>&nbsp;
            <input type="password" id="oldPassword" matInput [formControl]="oldPasswordInputControl"
                class="form-control" required [(ngModel)]="oldPassword">
            <mat-error *ngIf="oldPasswordInputControl.hasError('required')&&oldPasswordInputControl.touched">Please
                enter your current password</mat-error>
        </div>
        <div class="form-group" *ngIf="manageOptionsControl.dirty&&chosenOption=='Change password'">
            <mat-label for="newPassword">New password</mat-label>&nbsp;
            <input type="password" id="newPassword" matInput [formControl]="newPasswordInputControl"
                class="form-control" required [(ngModel)]="newPassword">
            <mat-error *ngIf="newPasswordInputControl.hasError('required')&&newPasswordInputControl.touched">Please
                create new password</mat-error>
        </div>
        <div class="form-group" *ngIf="manageOptionsControl.dirty&&chosenOption=='Change password'">
            <mat-label for="confirmNewPassword">Confirm password</mat-label>&nbsp;
            <input type="password" id="confirmNewPassword" matInput [formControl]="confirmNewPasswordInputControl"
                class="form-control" required [(ngModel)]="confirmNewPassword">
            <mat-error
                *ngIf="confirmNewPasswordInputControl.hasError('required')&&confirmNewPasswordInputControl.touched">
                Please enter your current password</mat-error>
        </div>

        <!-- <div class="form-group" *ngIf="manageOptionsControl.dirty&&chosenOption=='Update phone number'">
            <mat-label for="username">Username</mat-label>&nbsp;
            <input type="text" id="username" matInput [formControl]="usernameInputControl" class="form-control" required
                [(ngModel)]="username">
            <mat-error *ngIf="usernameInputControl.hasError('required')&&usernameInputControl.touched">Please enter username
                you want to use</mat-error>
        </div> -->
        <div class="form-group" *ngIf="manageOptionsControl.dirty&&chosenOption=='Update phone number'">
            <mat-label for="phonenumber">Phone number</mat-label>&nbsp;
            <input type="tel" id="phonenumber" matInput numbersOnly [formControl]="phonenumberInputControl"
                class="form-control" required [(ngModel)]="phonenumber">
            <mat-error *ngIf="phonenumberInputControl.hasError('required')&&phonenumberInputControl.touched">Please enter
                your phone number</mat-error>
        </div>
    </div>

    <div class="modal-footer">
        <button *ngIf="chosenOption&&chosenOption=='Change password'" type="button" class="btn btn-warning menuBtn"
            (click)="changePassword()"
            [disabled]="confirmNewPasswordInputControl.hasError('required')
                                                                                                                                ||newPasswordInputControl.hasError('required')
                                                                                                                                ||oldPasswordInputControl.hasError('required')">Change
            password</button>
        <button *ngIf="chosenOption&&chosenOption=='Update phone number'" type="button" class="btn btn-warning menuBtn"
            (click)="updateInfo()"
            [disabled]="phonenumberInputControl.hasError('required')">Change
            phone number</button>
    </div>
</ng-template>
<button class="btn btn-warning menuBtn" (click)="open(content)">Manage account info</button>