<navigation></navigation>
<div class="mainContainer">
    <div class="flexContainer">
        <div *ngFor="let dish of dishes; let i = index">
            <a class="buttonContainer buttonImage">
                <img class="btn button" src="../../assets/Dishes/{{dish.dishName}}.jpg" alt="{{dish.dishName}}" />

                <ul class="itemsContainer">
                    <li *ngFor="let item of items[i]; let isLast=last" #ingredient id="ingredient">
                        {{item.description|split}} 
                        {{isLast ? '' : ', '}}
                    </li>
                </ul>

                <ngbd-modal-basic [dish]="dish" [category]="category"></ngbd-modal-basic>
                <!-- <div class="btn insideImageButton iWantThisButton" (click)="addToCart(dish)">I want this!</div> -->
            </a>
            <strong class="textShadow dishName">{{dish.dishName | split}}</strong>
        </div>
    </div>
</div>
<div *ngIf="dishAdded" class="alertContainer">
    <h6>You have successfully added this dish to your cart</h6>
</div>