<navigation></navigation>
<div class="mainContainer">
    <div class="flexContainer">
        <div *ngFor="let dish of dishes; let i = index">
            <a class="buttonContainer buttonImage">
                <img class="btn button" src="../../assets/Dishes/{{dish.dishName}}.jpg" alt="{{dish.dishName}}"/>

                <ul class="itemsContainer">
                    <li class="text-info">Ingredients:</li>
                    <li *ngFor="let ingredient of ingredients[i]; let isLast=last" #ingredient id="ingredient">
                        {{ingredient.description|split}}
                        {{isLast ? '' : ', '}}
                    </li>
                </ul>
                <customize-modal #customize [dish]="dish" [allIngredients]="allIngredients" [sides]="sides" [sizes]="sizes"
                    [category]="category" [dishIngredients]="ingredients[i]" class="text-dark mainItem">
                </customize-modal>
                <!-- <div class="btn insideImageButton iWantThisButton" (click)="addToCart(dish)">I want this!</div> -->
            </a>
            <strong class="textShadow dishName">{{dish.dishName | split}}</strong>
        </div>
    </div>
</div>
<div *ngIf="dishAdded" class="alertContainer">
    <h6>You have successfully added this dish to your cart</h6>
</div>