@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
/* You can add global styles to this file, and also import other style files */

html {
    width: 100%;
    height: -webkit-fill-available;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: large;
}

body {
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container { z-index: 9999!important; } 

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: tomato;                     
}

.mat-tab-label, .mat-tab-link {
    color: rgba(0,0,0);
    font-size: 25px;
}

.background {
    background: linear-gradient(180deg, rgba(213, 203, 185, 0.8) 20%, rgba(213, 203, 185, 0.8) 80%), url(assets/MainHg.jpg);
    background-size: cover;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
