<ng-template let-modal #content>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title"><span *ngIf="newSide">Add</span><span *ngIf="!newSide">Edit</span> side</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <mat-form-field>
            <mat-label for="categoryControl">Category</mat-label>&nbsp;
            <mat-select [formControl]="categoryControl" required [(ngModel)]="category">
                <mat-option *ngFor="let category of allCategories" [value]="category">
                    {{category.description}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="categoryControl.hasError('required')">Please, select category of ingredient</mat-error>
        </mat-form-field>
        <div class="form-group">
            <mat-label for="sideNameControl">Description</mat-label>&nbsp;
            <input type="text" matInput [formControl]="sideNameControl" class="form-control"
                [(ngModel)]="side.description" required>
            <mat-error *ngIf="sideNameControl.hasError('required')">Please, enter ingredient name</mat-error>
        </div>
        <div class="form-group">
            <mat-label for="priceControl">Price $</mat-label>&nbsp;
            <input type="text" matInput [formControl]="priceControl" class="form-control" [(ngModel)]="side.price"
                required>
            <mat-error *ngIf="priceControl.hasError('required')">Please, enter price</mat-error>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" (click)="saveSide(side)" class="btn btn-success">Save</button>
    </div>
</ng-template>

<button class="btn btn-warning" (click)="open(content, !newSide)">Edit</button>
<img src="./../../assets/Icons/AddNew.png" class="btn btn-success addNewButton" alt="Add new" (click)="open(content, newSide)">


