.myCard{
    max-width: 35%;
    margin: 10em auto 0 auto;
    font: white !important;
}

@media(max-width: 980px){
    .myCard{
        max-width: 50%;
    }
}
@media(max-width: 780px){
    .myCard{
        max-width: 65%;
    }
}
@media(max-width: 580px){
    .myCard{
        max-width: 80%;
    }
}
@media(max-width: 400px){
    .myCard{
        max-width: 95%;
    }
}